html{
    background-color: white;
}



#table-main{
    border-style: solid ;

}


table{

    width: 80%;
    text-align: center;
    margin-top:215px;
    margin-left: 10%;
    margin-right: 10%;

}

td{
    font-size: 30px;
    height: 50px;
    text-align: center;



}

tr{
    font-size: 20px;
    text-align: center;
}



caption{
    font-size: 30px;
}

#title{
    background-color: #C4C4C4;
}

#Sheeta{
    background-color: #42A44C;

}
#Sheeta td{

}

#Gnou{
    background-color: #42A44C;

}

#cerf{
    background-color: #42A44C;

}

#zebre{
    background-color: #42A44C;

}

@media only screen and (max-width: 600px) {

   table{
       margin-top: 65px;
   }

    td{
        font-size: 20px;
    }


}