html{
    background-color: #c6d4ff;
}

#table-main{
    border-style: solid ;
}


table{
    width: 100%;
    text-align: left;
    margin-top:215px;
}


caption{
    font-size: 30px;
}

#title{
    background-color: #156064;
}

#Sheeta{
    background-color: #00c49a;
}

#Gnou{
    background-color:#00c49a ;
}

@media only screen and (max-width: 600px) {

   table{
       margin-top: 65px;
   }


}